#content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--color-secondary-light);
  overflow-x: auto;
  box-shadow: inset 0 1rem 1rem -1rem rgba(0, 0, 0, 0.1),
    inset 0 -1rem 1rem -1rem rgba(0, 0, 0, 0.1);
}

#contentTitle {
  font-size: 1.5rem;
}

#projectsContainer {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 12rem;
  gap: 1rem;
}

.project {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary-light);
  border-radius: 0.8rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.projectHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: var(--color-gray);
}

.more {
  width: 1.2rem;
  height: 1.2rem;
}

.circle {
  font-weight: lighter;
  color: var(--color-gray);
  width: 1rem;
  height: 1rem;
}

.taskContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}
