header {
  display: flex;
  height: 5rem;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}

#userContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  font-size: 2rem;
  font-weight: lighter;
  color: var(--color-accent);
  font-family: "Libre Baskerville", serif;
}

#feather {
  width: 2rem;
  height: 2rem;
}

#greeting {
  font-size: 1.1rem;
}

@media (max-width: 600px) {
  #greeting {
    display: none;
  }
}
#avatar {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 0.8rem;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  object-fit: cover;
}
