@import "@fontsource/poppins"; /* Defaults to weight 400 */
@import "@fontsource/libre-baskerville"; /* Defaults to weight 400 */

body {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  justify-content: space-between;
  height: 100vh;
  padding: 0;
  margin: 0;
}

:root {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  --color-accent: #2e6f40;
  --color-primary-light: #ffffff;
  --color-secondary-light: #e9e9e9;
  --color-gray: #434343;
  --color-gray-dark: #ededed;
  --color-form-input: #efefef;
  --color-form-text: #434343;
  --icon-filter: invert(26%) sepia(0%) saturate(0%) hue-rotate(187deg)
    brightness(93%) contrast(90%);
}

.darkmode {
  --color-accent: #3c9455;
  --color-primary-light: #202020;
  --color-secondary-light: #181818;
  --color-gray: #ededed;
  --color-gray-dark: #ededed;
  --color-form-input: #383838;
  --color-form-text: #ededed;
  --icon-filter: invert(85%) sepia(8%) saturate(0%) hue-rotate(225deg)
    brightness(98%) contrast(97%);
}
