#newContainer {
  position: absolute;
  bottom: 3rem;
  right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-accent);
  border: none;
  border-radius: 0.8rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

#newContainer:hover {
  padding: 2rem;
}

#plus {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  z-index: 2;
  color: var(--color-primary-light);
}

#newContainer:hover #plus {
  opacity: 0;
}

#optionsContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Make #optionsContainer visible on hover */
#newContainer:hover #optionsContainer {
  opacity: 1;
  pointer-events: auto;
  transition-delay: 0.3s;
}

/* Styles for options */
.option {
  background-color: var(--color-accent);
  color: var(--color-primary-light);
  font-size: 1.3rem;
  font-weight: lighter;
  padding: 0.3rem 0.6rem;
  text-align: center;
  border-radius: 0.8rem;
  transition: all 0.15s ease-in-out;
}

.option:hover {
  filter: brightness(0.85);
}
