#taskModalContainer {
  min-width: 100vw;
  min-height: 100vh;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.05);
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#taskModal {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 5rem 8rem 5rem 8rem;
  border-radius: 0.8rem;
}

#taskModalTitle {
  font-size: clamp(2.2rem, 2.5vw, 2.8rem);
  margin-bottom: 2rem;
  color: var(--color-accent);
  font-family: "Libre Baskerville", serif;
}

.inputGroup {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.inputIcon {
  width: 2rem;
  height: 2rem;
  color: var(--color-accent);
}

#closeTaskModal {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
  color: var(--color-gray);
}

#listSelect,
#timeSelect {
  font-size: 1.2rem;
  box-sizing: border-box;
  text-align: center;
  font-family: "Poppins", sans-serif;
  width: 11rem;
  padding: 0.5rem 1rem;
  border-radius: 0.8rem;
  color: var(--color-gray);
  border: 0.1rem double var(--color-gray);
}

#timeSelect,
#dateSelect {
  padding: 0.5rem;
}
